	/*NAVBAR CSS */
	
	a:link {
      color: white;
      background-color: rgb(165, 23, 23);
      text-decoration: none;
    }
    a:visited {
      color: pink;
      background-color: rgb(165, 23, 23);
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: rgb(165, 23, 23);
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: rgb(165, 23, 23);
      text-decoration: underline;
    }
	
	body {
		background-color: wheat;
	}
	