	/*NAVBAR CSS */
	
	a:link {
      color: white;
      background-color: rgb(165, 23, 23);
      text-decoration: none;
    }
    a:visited {
      color: white;
      background-color: rgb(165, 23, 23);
      text-decoration: none;
    }
    a:hover {
      color: red;
      background-color: rgb(165, 23, 23);
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: rgb(165, 23, 23);
      text-decoration: underline;
    }
	
	/*End of NAVBAR */
	
	body {
		background-color: wheat;
	}
	
	p {
		font-family: "Times New Roman", Times, serif;
	}
	